@media (max-width:1200px) {
    .mid-content {

        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (max-width:1060px){
    .hearder-section a {
        color: #010101;
        width: 81%;
    }
    .video-content-right h3 {
        font-size: 31px;
        font-weight: 500;
        
    }

.header-btn {
    padding: 7px 11px;
}

@media (max-width:922px){
    .logo img {
        
        margin-right: -2px;
    }
    .primary-menu ul li a {
       
        padding: 0px 4px;
       
    }

    .primary-menu ul li a {
        display: block;
        padding: 0px 17px;
        font-size: 16px;
        line-height: 53px;
        transition: .4s;
    }
    .hearder-section a {
        
        width: 78%;
    }
    .logo span {
        display: inline-block;
        margin-top: 17px;
        font-size: 23px;
        font-weight: 500;
        margin-left: 10px;
    }
    .hearder-section a {
        width: 82%;
    }
   
}
@media (max-width:800px){
    .logo span {
        display: inline-block;
        margin-top: 17px;
        font-size: 22px;
        font-weight: 500;
    }
    .left {
        float: right;
    }

    .video-content-right {
        float: left;
    }
    .primary-menu span{
        display: block;
    }
    .primary-menu ul li a {
        display: block;
        padding: 0px 16px;
        font-size: 16px;
        line-height: 53px;
        transition: .4s;
    }
    .logo img {
        height: 60px;
        float: inherit;
      
    }
    .submit-btn {
        font-size: 9px;
        margin-top: 13px;
    }
    .default-input {

        font-size: 12px;

    }
    .logo span {
        margin-top: 17px;
        font-size: 21px;
        padding: 0 8px;
        position: relative;
        top: -20px;
    }
    .header-logo {
        width: 100%;
       
        text-align: center;
    }
    .hearder-section a {
        width: 100%;
    }
    .primary-menu ul {
        opacity: 0;
        visibility: hidden;
        height: 0;
    }
    .left {
        float: right;
    }
    .primary-menu {
        width: 100%;
        text-align: left;
        position: absolute;
        top: 78px;
    }
    .header-menu {
        width: 100%;
    }
    .primary-menu span {
        font-size: 40px;
        color: #1b64a4;
        cursor: pointer;
    }
    .header-buttom {
        margin-right: 15px;
    }
    .header-btn {
        padding: 8px 9px;
    }
    .banner-content h2 {
        font-size: 49px;
        margin: 30px 0px;
    }
    .banner-section {
        background-image: url(./img/mbr-4.jpg);
        background-size: cover;
        padding: 72px 0;
        color: #dddddd;
        position: relative;
        z-index: 9;
        margin-top: 70px;
    }
    .video-content-right {
        width: 100%;
    }
    .video-left {
        width: 100%;
    }
    .video-content-right h3 {

        text-align: center;
    }
    .section-title h1 {
        font-size: 32px;
        margin-bottom: 33px;
    }
    .section-title p {
        font-size: 22px;
    }
    .video-content-right {
        width: 100%;
    }

}

@media (max-width:730px){
    .member {
        width: 40%;

    }
    .b-hading h2 {
        font-size: 34px;

        text-align: center;
    }
    .content-left-map {
        width: 100%;
    }
    .content-right-form {
        width: 100%;
        margin-top: 40px;
    }
    .i-item {
        width: 100%;
        margin-right: 2%;
    }

}
@media (max-width:570px){
    element {

    }
    .default-input {
        width: 271px;

    }
    .default-input {
        width: 226px;
    }
}
    .default-btn {
    

        margin-bottom: 13px;
    
    }
    .b-hading {
        width: 100%;
    }
    .bt-content {
        width: 100%;
        margin-top: 92px;
    }
    .blog-title {
        padding: 16px 0px;
    }
    .banner-content h2 {
        font-size: 36px;
        margin: 30px 0px;
    }

    .video-left {
        float: right;
        width: 100%;
    }
    .section-title h1 {
        font-size: 26px;
        margin-bottom: 33px;
        
    }
    .services-box {
        width: 100%;

    }
    .default-input {

        font-size: 12px;

        margin-bottom: 13px;
    }

    .services-box:nth-child(3n+3){
        margin-right: 20px;
    }
    .services-box:nth-child(2n+2){
        margin-right: 0;
    }
    .services-box:nth-child(1n+1){
        margin-right: 20px;
    }
    .services-box:nth-child(n+1) {
      
    }
    .pricing-table-item{
        width: 100%;
    }
    .member {
        width: 100%;

    }
    .blog-post-item {
        width: 100%;
        margin-bottom: 60px;
        text-align: center;
    }
    .blog-post-item img {
        float: left;
        width: 100%;
        margin-right: 33px;
    }

}
@media (max-width:372px){
    .banner-content h2 {
        font-size: 42px;
        margin: 30px 0px;
    }
    .default-btn {

        margin-bottom: 14px;
    }
}
@media (max-width:300px){
    .banner-content h3 {
        font-size: 18px;
        margin-top: 16px;
    }
    .banner-content h2 {
        font-size: 29px;
        margin: 23px 2px;
    }
    .pricing-table-item {
        width: 100%;
        margin-bottom: 16px;
    }
    .banner-section {
        background-image: url(./img/mbr-4.jpg);
        background-size: cover;
        padding: 27px 0;
        color: #dddddd;
        position: relative;
        z-index: 9;
        margin-top: 70px;
    }
    .services-box {
        width: 100%;
        text-align: center;
    }
    .pricing-table-item {
        width: 100%;
        margin-top: 10px;
    }
    